# Created by .ignore support plugin (hsz.mobi)
__pycache__
.idea
data
writeup_template.md
output_images
vis.py
results/calibration1.jpg
results/calibration_1.jpg
results/bev_1.jpg
results/bev_2.jpg
results/binary_1.jpg
results/binary_2.jpg
results/camera_cal/
results/images/
results/videos/